body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #e5e5f78c;
    background-image: radial-gradient(circle at center center, #444cf705, #e5e5f700), repeating-radial-gradient(circle at center center, #444cf705, #444cf705, 20px, transparent 40px, transparent 20px);
    background-blend-mode: multiply;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#loginDiv {
    padding: 40px;
    background: white;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px 1px #0000001f;
    max-width: 400px;
    max-height: 500px;
}

#loggedInDiv {
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all .15s ease;
    max-height: 1000px;
}

button {
    border: unset;
}

.btn {
    font-size: 1.25em;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all .15s ease;
}

.btn-default {
    background-color: rgb(200, 200, 200);
    color: black;
}

.btn-default:hover {
    background-color: rgb(225, 225, 225);
}

.btn-danger {
    background-color: darkred;
}

.btn-danger:hover {
    background-color: red;
}

.btn-primary {
    background-color: darkslateblue;
}

.btn-primary:hover {
    background-color: slateblue;
}

.btn-success {
    background-color: darkolivegreen;
}

.btn-success:hover {
    background-color: olive;
}

#loginName,
#loginPassword,
#firstName,
#lastName,
#searchText,
#contactFirstName,
#contactLastName,
#contactEmail {
    font-size: 1.25em;
    width: 300px;
}

.input-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-input {
    border-radius: 0px 7px 7px 0px;
    padding: 0;
    height: 38px;
    width: 38px;
}

.btn-icon {
    border-radius: 50%;
    padding: 0;
    height: 38px;
    width: 38px;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

#inner-title {
    font-size: 2em;
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

#loginResult,
#contactAddResult,
#contactSearchResult {
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    color: red;
    overflow-wrap: anywhere;
    max-height: 100px;
    overflow: auto;
    text-align: center;
}

#contactSearchResult,
#contactAddResult {
    margin-top: 1em;
    margin-bottom: 0.15em;
    height: 19px;
}

#logoutButton {
    font-size: 1em;
}

#userDiv {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-direction: column;
}

select {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Roboto', sans-serif;
}

.form-hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: 1px solid #ced4da;
    width: 70%;
}

.sub-title {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
}

.search-content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.search-btns {
    display: flex;
    gap: 5px;
    margin-left: 30px;
}

.search-content:nth-child(odd) {
    background-color: #ececec;
}

.search-info>div {
    width: 200px;
    white-space: break-spaces;
    text-overflow: ellipsis;
}

#contactItems {
    overflow: auto;
}

.contact-content {
    position: relative;
    max-width: unset !important;
    max-height: unset !important;
}


#contactHeader {
    padding: 10px;
    display: flex;
    font-weight: bold;
}

#contactHeader>div:not(:last-child) {
    width: 230px;
}

#contactList {
    position: relative;
    margin-top: 0.85em;
}

#contactItems input {
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

.search-btns>div {
    width: 75px;
    text-align: center;
}

.remove-background {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    filter: blur(2px);
    transform: scale(.99);
}

#removeContactContainer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#removeContactDialog {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    transition: all .15s ease;
    transform: scale(0);
}

.default-scale {
    transform: scale(1) !important;
}

#mainContactContent {
    max-height: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .15s ease;
}

.contact-confirm-msg {
    gap: 4px;
}

#contactNameToRemove {
    font-weight: bold;
}

#removeContactBtns {
    display: flex;
    gap: 5px;
    justify-content: end;
    margin-top: 10px;
}

.input-error {
    border-color: red;
}

.contact-separator {
    display: flex;
    flex-direction: row;
    width: 150px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addContactDialog {
    flex-direction: column;
}

.input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#inputForm {
    overflow: hidden;
    transition: all .15s ease;
    max-height: 500px;
}

.no-height {
    max-height: 0px !important;
}

.no-scale {
    transform: scale(.5);
}

.new-result {
    background-color: #00800025 !important;
    border: solid 1px #00800050;
}

#loading {
    background: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 25px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }